---
import { Image } from "astro:assets";
import Ornament1 from "../assets/ornament-1.gif";
import Ornament2 from "../assets/ornament-2.gif";
---

<section id="Page1" class="min-h-screen w-full flex items-center justify-center overflow-hidden section">
    <div id="Page1Content" class="w-5/6">
        <h1 class="text-lg text-center mb-20 z-0" id="textURInvited">YOU ARE INVITED TO</h1>
        <div class="flex items-center justify-center relative w-64 z-100 mx-auto mb-14">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 216 200"
                class="fill-quinary"
                id="svgRoundBg"
            >
                <path
                    d="M172.979 19.611C191.285 33.0858 204.505 54.442 210.861 78.5949C217.471 103.002 217.471 130.46 205.776 151.816C194.335 173.427 171.454 189.444 147.047 196.054C122.639 202.919 96.7069 200.631 75.3506 190.715C54.2486 180.546 37.7229 163.003 23.4855 142.155C9.5022 121.307 -2.19289 97.4087 0.349524 74.7813C3.14617 52.1538 19.9261 30.7976 40.2654 17.8313C60.6046 4.61077 84.5033 -0.474048 108.148 0.0344341C131.538 0.542916 154.928 6.13621 172.979 19.611Z"
                ></path>
            </svg>

            <!-- <div class="absolute top-16"> -->
            <h6 class="absolute top-16 left-8 text-lg" id="textWedding">THE WEDDING OF</h6>
            <div class="absolute top-24 w-5/6 left-2">
                <div class="flex justify-between items-center">
                    <h1 class="font-cursive text-5xl font-bold" id="textLia">Lia</h1>
                    <h6 id="textDan">&</h6>
                    <h1 class="font-cursive text-5xl font-bold" id="textAldan">Aldan</h1>
                </div>
            </div>
            <Image
                src={Ornament2}
                alt="ornament-2"
                class="absolute -top-4 -right-4 w-1/2"
                id="imgOrnament2"
            />
            <div class="absolute top-40 flex justify-center">
                <Image src={Ornament1} alt="ornament-1" class="w-7/8" id="imgOrnament1" />
            </div>
        </div>

        <div class="flex justify-center z-0 mt-10">
            <button class="border border-primary border-solid p-1/2 cursor-pointer w-full" id="btnOpenInvitation">
                OPEN INVITATION
            </button>
        </div>
    </div>
</section>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    
    gsap.registerPlugin(ScrollTrigger);

    let tl = gsap.timeline({
        scrollTrigger: {
            trigger: "#Page1",
            toggleActions: "play pause resume reset",
            // pin: true,
            // pinType: "transform",
            // markers: true,
        }
    });
    tl.fromTo("#svgRoundBg", {opacity: 0}, { opacity: 1, duration: 5 }, 0);
    tl.fromTo(
        "#textWedding",
        { opacity: 0, y: "+=40" },
        { opacity: 1, y: 0, duration: 1.5 },
        1.5
    );
    tl.fromTo(
        "#textLia, #textAldan, #textDan",
        { opacity: 0, y: "+=40" },
        { opacity: 1, y: 0, duration: 1.5, stagger: 0.5 },
        2.5
    );
    tl.fromTo(
        "#textURInvited",
        { y: "+=198.5", opacity: 0 },
        { y: 0, opacity: 1, duration: 2 },
        3.5
    );

    tl.fromTo(
        "#btnOpenInvitation",
        { y: "-=198.5", opacity: 0 },
        { y: 0, opacity: 1, duration: 2 },
        4
    );

    if(document.getElementById("txtGuestName")) {
        tl.fromTo(
            "#txtGuestName",
            { y: "-=198.5", opacity: 0 },
            { y: 0, opacity: 1, duration: 2 },
            3.5
        );
    }

    tl.fromTo(
        "#imgOrnament2",
        { x: "+=40", rotation: "+=20", opacity: 0 }, 
        { x: 0, rotation: -5, transformOrigin: "80% 100%", opacity: 1, duration: 2.5, ease: "power2.out",  },
        3
    );

    gsap.fromTo(
        "#imgOrnament2",
        { transformOrigin: "80% 100%", rotation: -5 }, 
        {
            // display: "block",
            rotation: 5,
            transformOrigin: "80% 100%",
            duration: 2.5,
            repeat: -1,
            yoyo: true,
            yoyoEase: "none",
            ease: "none",
            delay: 5.5,
        },
    );

    tl.fromTo(
        "#imgOrnament1",
        { opacity: 0, y: "+=40" },
        { opacity: 1, y: 0, duration: 1.5, stagger: 0.5 },
        4
    );

</script>

<script>
    let params = new URLSearchParams(window.location.search);
    let name = params.get('name');
    
    if(name != null) {
        const txtNode = document.createElement('h2');
        const divNode = document.getElementById("Page1Content");
        txtNode.innerText = name;
        txtNode.className = "text-center text-xl text-secondary font-semibold";
        txtNode.id = "txtGuestName";

        divNode?.insertBefore(txtNode, divNode.children[divNode.children.length - 1]);
    }    
</script>