<section
    id="Page9"
    class="min-h-screen flex justify-center overflow-hidden section"
>
    <div class="w-xl relative flex">
        <div class="w-full max-w-5/6 mx-auto py-15">
            <div class="text-center">
                <h1
                    class="font-cursive text-4xl text-secondary font-semibold mb-3"
                >
                    Send Us Wishes!
                </h1>
                <p class="text-base text-primary">
                    Ready to fill our digital guestbook? Spill your secrets,
                    share your wisdom, or just say <em>'Congrats!'</em> We're collecting
                    good vibes only.
                </p>
            </div>

            <div class="border border-secondary rounded my-3 p-3">
                <input
                    type="text"
                    class="border border-secondary rounded w-full mb-2 bg-quaternary/10"
                    placeholder="Nama"
                />
                <textarea
                    class="border border-secondary rounded w-full mb-2 bg-quaternary/10"
                    placeholder="Your sweetest wishes..."
                    rows="3"></textarea>

                <button
                    class="bg-secondary hover:bg-primary hover:text-white text-quinary py-1 px-3 rounded-full cursor-pointer w-full"
                >
                    Kirim
                </button>
            </div>

            <div class="border border-secondary rounded my-3 p-3 h-4/9 overflow-y-scroll">
                <div class="bg-background/50 rounded shadow-md p-2 mb-2 backdrop-blur-sm">
                    <div class="mb-1">
                        <h4 class="text-secondary text-base font-bold">Dodo Nugraha & Istri</h4>
                        <h6 class="text-gray-500 text-xs">Kamis, 25 September 2025 22:30:00</h6>
                    </div>
                    <p class="text-primary text-sm">
                        Selamat menempuh hidup baru mangcoy!!
                    </p>
                </div>

                
            </div>
        </div>
    </div>
</section>
