---
import { Image } from "astro:assets";
import AldanJulia2 from "../assets/gallery/aldanjulia2.png";
---

<section
    id="Page7"
    class="min-h-screen w-full flex justify-center overflow-hidden section"
>
    <div
        class="w-xl relative flex items-center bg-contain bg-no-repeat bg-bottom outline-5 outline-secondary shadow-2xl shadow-primary text-center"
        style={{ backgroundImage: `url(${AldanJulia2.src})` }}
    >
        <h1
            class="font-cursive text-6xl -z-999 absolute top-1/6 left-1/2 mx-auto"
            id="textPage7Title"
            style="transform: translate(-50%,-50%)"
        >
            Our<br />Love&nbsp;Stories
        </h1>
        <!-- <div class="max-w-5/6 mx-auto text-center"></div> -->

        <div
            class="w-full max-w-5/6 left-1/2 top-1/2 flex absolute justify-between"
            style="transform: translate(-50%, -50%)"
        >
            <a
                href="javascript:void(0)"
                class="font-brushes text-4xl text-center text-primary hover:opacity-75 hover:[&>*]:shadow-[0_0_50px_var(--color-quinary)] active:opacity-75 active:[&>*]:shadow-[0_0_50px_var(--color-quinary)] toggle-modal"
                data-modal-storyby="julia"
            >
                <span class="bg-quinary rounded">story&nbsp;by</span><br /><span
                    class="bg-quinary rounded"><strong>JULIA</strong></span
                >
            </a>
            <a
                href="javascript:void(0)"
                class="font-brushes text-4xl text-center text-primary hover:opacity-75 hover:[&>*]:shadow-[0_0_50px_var(--color-tertiary)] active:opacity-75 active:[&>*]:shadow-[0_0_50px_var(--color-tertiary)] toggle-modal"
                data-modal-storyby="aldan"
            >
                <spam class="bg-tertiary rounded">story&nbsp;by</spam><br
                /><spam class="bg-tertiary rounded"><strong>ALDAN</strong></spam
                >
            </a>
        </div>
    </div>
</section>

<!-- Main modal -->
<div
    id="story-modal"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm">
            <!-- Modal header -->
            <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200"
            >
                <h3 class="text-2xl font-bold text-secondary font-cursive">
                    Our Love Story
                </h3>
                <button
                    type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-hide="story-modal"
                >
                    <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div
                class="px-4 md:px-5 pt-8 pb-4 space-y-4 text-lg leading-relaxed text-primary text-justify"
                id="modal-content"
            >
            </div>
            <div class="p-4 md:p-5 text-center">
                <button
                    data-modal-hide="story-modal"
                    type="button"
                    class="text-white bg-tertiary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-secondary font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                >
                    Kiwkiww &lt;3
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    gsap.fromTo(
        "#textPage7Title",
        { y: "75vh", opacity: 0 },
        {
            y: 0,
            opacity: 1,
            scrollTrigger: {
                trigger: "#Page7",
                scrub: 3,
                markers: false,
                start: "10% center",
                end: "center center",
            },
            ease: "power2.out",
        },
    );

    // let tl = gsap.timeline({
    //     scrollTrigger: {
    //         trigger: "#Page7"
    //     }
    // });
</script>
<script>
    const storyData: { [storyBy: string]: string[] } = {
        aldan: [
            `“Hai, aku Julia, istri kamu dari masa depan.” Begitulah khayalan dialog yang kubayangkan ketika awal mula bertemu dengan Julia. Meskipun ini majas hiperbola, namun kurang-lebih aku merasakan hal demikian ketika aku melihat Julia. Entahlah, aku merasa ada sebuah kecocokan dengan Julia. Ada sebuah kenyamanan ketika bersama dengan Julia. <em>Although she is still a human being and having imperfections</em>, kekurangan tersebut seakan-akan klop dengan karakterku yang juga tak begitu sempurna dan akupun bisa memaklumi segala khilaf dan kekurangan yang dimiliki Julia. Mungkinkah ini kode dari alam bahwasanya “ini loh pasangan yang cocok buat kamu”, atau ini bagian dari skenario Allah.swt mengenai hidup yang aku jalani di dunia ini.`,
            `Kenal dengan Julia sejak jadi Maba Teknik Elektro UNSRI tahun 2015. Awalnya sekedar tahu “Oh orang ini bakal jadi teman sekelasku nanti.” Apalagi Julia dulu termasuk primadona para cowok elektro. Gimana ya, karena memang secantik itu loh, hehee…. Dikarenakan hal tersebutlah siapa sih yang nggak kenal dengan Julia. Terus aku gimana? Aku sih awalnya nggak terlalu peduli sih. Toh dulu posisinya memang sudah punya pacar (yang obviously kini sudah masuk list mantan) dan aku bertekad di kampus maunya fokus belajar aja, nggak mau tebar pesona (cukuplah masa putih abu-abu saja).`,
            `Singkat cerita, akhir Semester 2 aku semakin dekat dengan Julia. Padahal di awal-awal kuliah banyak cowok yang mencoba ngedeketin Julia, namun entah mengapa usaha para pria tampan tersebut berujung sia-sia dan malah Julianya deketnya dengan aku. Terima kasih kepada tugas video PKN yang menyatukan aku dan Julia dalam satu grup yang berujung makin intensnya komunikasi kami via chat.`,
            `Ya, kayak kata orang, “jodoh tuh nggak kemana,” qodarullah di awal Oktober 2025 ini Insya Allah cinta kami dipersatukan dengan sebuah ikatan pernikahan. Jujurly aku dan Julia nggak ada sebuah “ikatan resmi” ala-ala cinta monyet remaja dengan Julia. Nggak ada istilah nembak, jadian, dll. Cuma sekedar aku sempat menyatakan “aku nih naksir samo kau woy” kepada Julia pada tanggal 30 Agustus 2016. Dikatakan pacaran, nggak juga. Di sisi lain tapi sayang heheee… Bantuin tugas, anter sana-sini kok mau-mau aja. Tapi ya yang namanya cinta, apapun itu akan dilakukan. Sumpah aku nggak expect kalau endingnya bakal sama Julia. Apalagi selama sembilan tahun hubungan kami ini hanya sekedar jaga komunikasi dan sering-sering memberikan kabar. Beda banget apa yang aku rasakan ketika masa pacaran di bangku SMA dulu. Berawal haha-hihi tautau jadi istri. Doakan kami ya gezz biar langgeng terus jadi pasangan serasi ‘till jannah heheheee…`,
        ],
        julia: [
            `Kami pertama kali bertemu sebagai teman kuliah pada tahun 2015. Saat itu, hubungan kami berjalan seperti teman pada umumnya sebatas saling kenal, namun belum begitu dekat. Hingga pada tahun 2016, kedekatan mulai tumbuh ketika kami tergabung dalam satu kelompok pada salah satu mata kuliah. Dari situlah hubungan kami berkembang menjadi teman dekat. Kami saling mendukung di tengah hiruk-pikuk dunia perkuliahan, mulai dari mengerjakan dan berdiskusi tugas bersama, hingga saling menyemangati menjelang ujian.`,
            `Setelah lulus kuliah bukan pula berakhir komunikasi kami. Meski kami menjalani jalan hidup masing-masing, komunikasi kami tetap terjaga. Lia memulai kariernya pada tahun 2021, disusul oleh Aldan pada tahun 2022. Di tengah kesibukan masing-masing, kami masih saling berkomunikasi dan berbagi cerita, memberi semangat, dan saling mendoakan satu sama lain.`,
            `Tahun 2023 dan 2024 menjadi tahun pencarian pasangan pendamping hidup. Kami sama-sama mencoba membuka hati untuk orang lain, namun belum ada yang terasa benar-benar tepat. Mungkin karena hati kami telah lama terbiasa saling memahami, saling mengenal, dan tumbuh bersama dalam perjalanan yang penuh cerita.`,
            `Hingga akhirnya, pada April 2025, Aldan memantapkan hati dengan niat tulus dan keyakinan yang kuat, datang ke rumah Lia untuk meminta izin serta restu dari kedua orang tua Lia sebagai langkah awal menuju kehidupan yang lebih serius.`,
            `Dan pada tanggal 10 Agustus 2025, dengan penuh harapan, cinta, dan didampingi keluarga besar, Aldan resmi melamar Lia untuk menjadi calon istrinya.`,
            `Pada tanggal 3 Oktober 2025, Lia dan Aldan akan mengikat janji suci dalam sebuah pernikahan. Sebuah momen awal dari perjalanan baru  bukan lagi sebagai teman kuliah atau sahabat seperjuangan, melainkan sebagai pasangan hidup yang akan saling melengkapi dalam suka dan duka.`,
            `Semoga langkah ini menjadi awal dari kehidupan yang penuh cinta, kebahagiaan, keberkahan, dan cerita-cerita indah yang tak pernah habis ditulis bersama.`,
        ],
    };
    import { Modal } from "flowbite";
    const $buttonElements: NodeList | null =
        document.querySelectorAll(".toggle-modal");
    const $modalElement: HTMLElement | null =
        document.querySelector("#story-modal");
    const $modalContentElement: HTMLElement | null =
        document.querySelector("#modal-content");

    // toggle the visibility of the modal when clicking on the button
    if ($buttonElements && $modalContentElement) {
        const modal = new Modal($modalElement, {
            backdropClasses: "bg-primary/50 fixed inset-0 z-40",
            onHide: () => {
                $modalContentElement.innerHTML = "";
            },
        });

        $buttonElements.forEach((element) => {
            let btnEl = element as HTMLButtonElement;
            element.addEventListener("click", () => {
                let storyBy = btnEl.getAttribute("data-modal-storyby");
                if (!storyBy) {
                    return;
                }
                let storyParagraphs: string[] = storyData[storyBy] || [];
                if (storyParagraphs.length > 0) {
                    storyParagraphs.forEach((p) => {
                        let _el = document.createElement("p");
                        _el.innerHTML = p;
                        $modalContentElement.appendChild(_el);
                    });
                }
                modal.show();
            });
        });
    }
</script>
