---
import "@fontsource-variable/alegreya";
import "@fontsource/great-vibes";
import "@fontsource/love-ya-like-a-sister";
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <meta name="generator" content={Astro.generator} /> -->
        <!-- <meta name="generator"  /> -->
        <title>Ngundang - by THe-Mangcoy</title>
    </head>
    <body>
        <slot />
    </body>
</html>
